* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000000bf;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}

.img img {
    width: 272px;
}

.google-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 6px;
}

.nav .left-links a{
    padding-left: 15px;
}

.nav .right {
    display: flex;
    height: 60px;
    align-items: center;
} 

.nav .right .right-links {
    padding-right: 15px;
}
.nav .right .right-links a {
    padding-left: 15px;
}

.nav .right .right-icons {
    padding-right: 15px;
    display: flex;
    align-items: center;
}
.nav .right .right-icons span{
    padding-left: 15px;
    cursor: pointer;
    color: #000000bf;
}
.nav .right .right-icons span:first-child {
    padding: 6px;
    border-radius: 30px;
}
.nav .right .right-icons .menu:hover {
    background-color: #dcdadab8;
    cursor: pointer;
}
.nav .right .right-icons span img{
    border-radius: 24px;
}

.img-sec {
    height: 266px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
}
.img-sec .img {
    width: 272px;
}

.search-main {
    padding-top: 15px;
    height: 63vh;
}
.search-main .input-w-icons {
    width: auto;
    max-width: 584px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}
.search-main .input-w-icons:hover {
    box-shadow: 0 2px 3px #00000047;
}

.style {
    padding: 6px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-main .input-w-icons .s-i {
    height: 20px;
    padding-left: 8px;  
}
.search-main .input-w-icons .s-i span {
    font-size: 20px;
    color: #9aa0a6;
}

.search-main .input-w-icons .m-i {
    height: 23px;
    padding-right: 8px;  
}
.search-main .input-w-icons .m-i span {
    font-size: 24px;
    color: #9aa0a6;
}

.search-main .input-w-icons .in-field {
    width: 487px;
}
.search-main .input-w-icons .in-field input {
    width: 100%;
    height: 34px;
    border: none;
    outline: none;
}

.search-main .buttons {
    max-width: 584px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 25px;
}

.search-main .buttons input {
    margin-left: 15px;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f7f7f7;
}
.search-main .buttons input:hover {
    box-shadow: 0 2px 3px #d8d8d8;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    padding: 0 20px;
    background-color: #f2f2f2;
}

footer .f-link-left a {
    padding-right: 15px;
}

footer .f-link-right a {
    padding-left: 15px;
}